<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="close()" default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Select Address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Search for an address" (ionInput)="onSearchChange($event)"></ion-searchbar>

  <div *ngIf="searchResults.length === 0">
    <div class="text-xl">Current Location</div>
    <ion-item detail="true">
      <ion-label>lol</ion-label>
    </ion-item>
  </div>


  <ion-list>
    <ion-item *ngFor="let result of searchResults" (click)="selectAddress(result)">
      <ion-label>
        <h2>{{ result.display_name }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
