<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Addresses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Search for an address" (ionInput)="onSearchChange($event)"></ion-searchbar>

  <div *ngIf="searchResults.length === 0" class="p-4">
    <div class="text-xl">Current Location</div>
    <ion-item button detail="true" routerLink="/">
      <ion-icon slot="start" name="location"></ion-icon>
      <ion-label>lol</ion-label>
    </ion-item>
  </div>

  <ion-list>
    <ion-item *ngFor="let result of searchResults" (click)="selectAddress(result)">
      <ion-label>
        <h2>{{ result.display_name }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
