<ion-card class="h-[12rem] flex flex-col ion-activatable ripple-parent rounded-rectangle" [class]="full_width ? 'w-full m-0' : 'w-[20rem]'" (click)="openRestaurant()">
  <div class="flex-1 overflow-hidden relative rounded-lg mx-2 mt-2 object-center" *ngIf="!skeleton">
    <ion-thumbnail class="w-full h-full">
      <ion-img [src]="restaurant?.image_url"></ion-img>
    </ion-thumbnail>
    <div class="absolute top-0 z-10 bg-black/70 w-full h-full flex justify-center items-center" *ngIf="!restaurant?.isOpen()">
      <div class="text-xl text-white">Closed</div>
    </div>
    <ion-icon class="absolute z-20 top-2 right-2 text-2xl text-white" aria-hidden="true" name="heart-outline"></ion-icon>
  </div>

  <div class="flex-1 overflow-hidden relative rounded-lg mx-2 mt-2 object-center" *ngIf="skeleton">
    <ion-thumbnail class="w-full h-full">
      <ion-skeleton-text></ion-skeleton-text>
    </ion-thumbnail>
  </div>

  <div class="max-h-1/3 min-h-1/3 p-2 pb-1" *ngIf="!skeleton">
    <div class="text-xl text-black dark:text-white">{{ restaurant?.name }}</div>
    <div class="flex flex-col">
      <app-star-rating class="text-sm" [rating]="restaurant?.rating" />

      <div class="flex gap-2">
        <p>{{ restaurant?.isOpen() ? "Open" : "Closed" }}</p>
        <p>{{ Math.round((restaurant?.distance || 0 ) * 10) / 10 }} km</p>
        <p>{{ restaurant?.delivery_fee }} Delivery Fee</p>
      </div>
    </div>
  </div>

  <div class="max-h-1/3 min-h-1/3 p-2 pb-1" *ngIf="skeleton">
    <ion-skeleton-text class="h-6"></ion-skeleton-text>
    <div class="flex flex-col">
      <ion-skeleton-text></ion-skeleton-text>

      <div class="flex gap-2">
        <ion-skeleton-text></ion-skeleton-text>
        <ion-skeleton-text></ion-skeleton-text>
        <ion-skeleton-text></ion-skeleton-text>
      </div>
    </div>
  </div>
  <ion-ripple-effect *ngIf="!skeleton"></ion-ripple-effect>
</ion-card>
