<ion-content>
  <div class="flex w-full h-40 relative overflow-hidden">
    <ion-thumbnail class="w-full h-full">
      <ion-img *ngIf="loaded" [src]="restaurant?.image_url"></ion-img>
      <ion-skeleton-text *ngIf="!loaded" [animated]="true"></ion-skeleton-text>
    </ion-thumbnail>
    <div class="flex h-fit p-2 w-full absolute top-2">
      <ion-buttons>
        <ion-back-button class="round-button" defaultHref="/"></ion-back-button>
      </ion-buttons>

      <ion-buttons class="flex-1 flex gap-2 justify-end">
        <ion-button class="round-button">
          <ion-icon slot="icon-only" name="heart-outline" class="text-2xl"></ion-icon>
        </ion-button>
        <ion-button class="round-button">
          <ion-icon slot="icon-only" name="share-social" class="text-2xl"></ion-icon>
        </ion-button>
        <ion-button class="round-button" routerLink="info">
          <ion-icon slot="icon-only" name="information-circle" class="text-2xl" ></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </div>

  <div class="flex flex-col">
    <div *ngIf="loaded" class="text-2xl px-2 pt-2">{{ restaurant?.name }}</div>
    <ion-skeleton-text class="h-6 rounded-lg w-2/3 mx-2 mt-2" *ngIf="!loaded" [animated]="true"></ion-skeleton-text>

    <ion-card class="information-card ion-activatable ripple-parent rectangle" routerLink="info">
      <app-star-rating class="text-lg" [rating]="restaurant?.rating" *ngIf="loaded" />
      <ion-skeleton-text class="w-2/4 rounded-lg" *ngIf="!loaded" [animated]="true"></ion-skeleton-text>

      <div class="flex gap-2 items-center text-black/60 dark:text-white/60" *ngIf="loaded">
        <p [class]="restaurant?.isOpen() ? 'text-green-500' : ''">{{ restaurant?.isOpen() ? "Open" : "Closed" }}</p>
        <ion-icon name="ellipse" class="text-[0.4rem]"></ion-icon>
        <p>{{ (restaurant?.distance !== undefined) ? Math.round((restaurant?.distance || 0 )* 10) / 10 : 'Unknown' }} km</p>
        <ion-icon name="ellipse" class="text-[0.4rem]"></ion-icon>
        <p>{{ restaurant?.delivery_fee }} € Delivery Fee</p>
        <ion-icon name="chevron-forward"></ion-icon>
      </div>
      <div class="text-sm text-black/60 dark:text-white/60" *ngIf="loaded"> Tap for hours, info and to review</div>

      <div class="flex gap-2 items-center" *ngIf="!loaded">
        <ion-skeleton-text class="w-1/4 rounded-lg" [animated]="true"></ion-skeleton-text>
        <ion-skeleton-text class="w-1/4 rounded-lg" [animated]="true"></ion-skeleton-text>
        <ion-skeleton-text class="w-1/4 rounded-lg" [animated]="true"></ion-skeleton-text>
      </div>
      <ion-skeleton-text class="w-1/4 rounded-lg" [animated]="true" *ngIf="!loaded"></ion-skeleton-text>

      <ion-ripple-effect *ngIf="loaded"></ion-ripple-effect>
    </ion-card>
  </div>

  <ion-segment [(ngModel)]="selectedSegment" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="menu">
      <ion-label>Menu</ion-label>
    </ion-segment-button>
    <ion-segment-button value="drinks">
      <ion-label>Drinks</ion-label>
    </ion-segment-button>
    <ion-segment-button value="desserts">
      <ion-label>Dessert</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="selectedSegment">
    <div *ngSwitchCase="'menu'">
      <div class="text-2xl font-bold text-black dark:text-white mx-4 mt-2">Menu</div>
      <app-item-card *ngFor="let menu of menus" [item]="menu" (emitter)="controlOrders($event)"></app-item-card>
      <app-item-card [skeleton]="true" *ngIf="!loaded"></app-item-card>
      <div class="w-full h-full flex justify-center items-center px-4 pt-12" *ngIf="menus.length === 0  && loaded">
        <div>Menu items unavailable</div>
      </div>
    </div>

    <div *ngSwitchCase="'drinks'">
      <div class="text-2xl font-bold text-black dark:text-white mx-4 mt-2">Drinks</div>
      <app-item-card *ngFor="let drink of drinks" [item]="drink" (emitter)="controlOrders($event)"></app-item-card>
      <app-item-card [skeleton]="true" *ngIf="!loaded"></app-item-card>
      <div class="w-full h-full flex justify-center items-center px-4 pt-12" *ngIf="drinks.length === 0 && loaded">
        <div>Drink items unavailable</div>
      </div>
    </div>

    <div *ngSwitchCase="'desserts'">
      <div class="text-2xl font-bold text-black dark:text-white mx-4 mt-2">Desserts</div>
      <app-item-card *ngFor="let dessert of desserts" [item]="dessert" (emitter)="controlOrders($event)"></app-item-card>
      <app-item-card [skeleton]="true" *ngIf="!loaded"></app-item-card>
      <div class="w-full h-full flex justify-center items-center px-4 pt-12" *ngIf="desserts.length === 0  && loaded">
        <div>Dessert items unavailable</div>
      </div>
    </div>
  </div>

  <div class="absolute left-0 bottom-0 w-full p-2" *ngIf="showBasket">
    <ion-button class="w-full" (click)="openCart()">View Basket</ion-button>
  </div>
</ion-content>
