<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Restaurant</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="share-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="ellipsis-horizontal-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-img src="https://via.placeholder.com/150" class="full-width-image"></ion-img>
    <ion-card-header>
      <ion-card-title>Restaurant</ion-card-title>
      <ion-card-subtitle>5.0 ★★★★★ Ver reviews • Open • 180 m • €1.20 Delivery Fee</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-segment [(ngModel)]="selectedSegment" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="menu">
          <ion-label>Menu</ion-label>
        </ion-segment-button>
        <ion-segment-button value="drinks">
          <ion-label>Drinks</ion-label>
        </ion-segment-button>
        <ion-segment-button value="desserts">
          <ion-label>Dessert</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-card-content>
  </ion-card>

  
  <div [ngSwitch]="selectedSegment">
    <ion-list *ngSwitchCase="'menu'">
      <ion-item *ngFor="let food of foods; let i = index">
        <ion-thumbnail slot="start">
          <img src="{{food.image_url}}" alt="Nuggets">
        </ion-thumbnail>
        <ion-label>
          <h2>{{food.name}}</h2>
          <p>{{food.price}}</p>
          <p>{{food.description}}</p>
        </ion-label>
        <div class="quantity-controls" slot="end">
          <ion-button fill="outline">
            <ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
          </ion-button>
          <span>{{ food.quantity }}</span>
          <ion-button fill="outline">
            <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
          </ion-button>
        </div>
      
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'drinks'">
      <ion-item *ngFor="let drink of drinks; let i = index">
        <ion-thumbnail slot="start">
          <img src="{{drink.image_url}}" alt="Nuggets">
        </ion-thumbnail>
        <ion-label>
          <h2>{{drink.name}}</h2>
          <p>{{drink.price}}</p>
          <p>{{drink.description}}</p>
        </ion-label>
        <ion-button fill="outline" slot="end">
          <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'desserts'">
      <ion-item *ngFor="let dessert of desserts; let i = index">
        <ion-thumbnail slot="start">
          <img src="{{dessert.image_url}}" alt="Nuggets">
        </ion-thumbnail>
        <ion-label>
          <h2>{{dessert.name}}</h2>
          <p>{{dessert.price}}</p>
          <p>{{dessert.description}}</p>
        </ion-label>
        <ion-button fill="outline" slot="end">
          <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </div>


</ion-content>
