<ion-content>
  <div class="flex w-full h-40 relative overflow-hidden">
    <ion-thumbnail class="w-full h-full">
      <ion-img  [src]="restaurant?.image_url"></ion-img>
    </ion-thumbnail>
    <div class="flex h-fit p-2 w-full absolute top-2">
      <ion-buttons>
        <ion-back-button class="round-button" defaultHref="/"></ion-back-button>
      </ion-buttons>

      <ion-buttons class="flex-1 flex gap-2 justify-end">
        <ion-button class="round-button">
          <ion-icon slot="icon-only" name="heart-outline" class="text-2xl"></ion-icon>
        </ion-button>
        <ion-button class="round-button">
          <ion-icon slot="icon-only" name="share-social" class="text-2xl"></ion-icon>
        </ion-button>
        <ion-button class="round-button">
          <ion-icon slot="icon-only" name="information-circle" class="text-2xl"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </div>


  <div class="flex flex-col p-2">
    <div class="text-2xl">{{ restaurant?.name }}</div>
    <div class="flex flex-col gap-1">
      <div class="flex gap-1 items-center text-lg text-yellow-400" (click)="openReviews()">
        <ion-icon name="star" *ngFor="let star of [].constructor(restaurant?.filledStars)"></ion-icon>
        <ion-icon name="star-half" *ngIf="restaurant?.semiFilledStars"></ion-icon>
        <ion-icon name="star-outline" *ngFor="let star of [].constructor(restaurant?.emptyStars)"></ion-icon>
        <div>{{ restaurant?.rating }}</div>
      </div>
      <div class="flex gap-2 items-center">
        <p>{{ restaurant?.isOpen ? "Open" : "Closed" }}</p>
        <p>{{ (restaurant?.distance !== undefined) ? Math.round((restaurant?.distance || 0 )* 10) / 10 : 'Unknown' }} km</p>
        <p>{{ restaurant?.delivery_fee }} Delivery Fee</p>
      </div>
    </div>
  </div>

  <ion-segment [(ngModel)]="selectedSegment" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="menu">
      <ion-label>Menu</ion-label>
    </ion-segment-button>
    <ion-segment-button value="drinks">
      <ion-label>Drinks</ion-label>
    </ion-segment-button>
    <ion-segment-button value="desserts">
      <ion-label>Dessert</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="selectedSegment">
    <div *ngSwitchCase="'menu'">
      <div class="text-2xl font-bold text-black dark:text-white mx-4 mt-2">Menu</div>
      <app-item-card *ngFor="let menu of menus" [item]="menu" (emitter)="controlOrders($event)"></app-item-card>
      <div class="w-full h-full flex justify-center items-center px-4 pt-12">
        <div>Menu items unavailable</div>
      </div>
    </div>

    <div *ngSwitchCase="'drinks'">
      <div class="text-2xl font-bold text-black dark:text-white mx-4 mt-2">Drinks</div>
      <app-item-card *ngFor="let drink of drinks" [item]="drink" (emitter)="controlOrders($event)"></app-item-card>
      <div class="w-full h-full flex justify-center items-center px-4 pt-12">
        <div>Drink items unavailable</div>
      </div>
    </div>

    <div *ngSwitchCase="'desserts'">
      <div class="text-2xl font-bold text-black dark:text-white mx-4 mt-2">Desserts</div>
      <app-item-card *ngFor="let dessert of desserts" [item]="dessert" (emitter)="controlOrders($event)"></app-item-card>
      <div class="w-full h-full flex justify-center items-center px-4 pt-12">
        <div>Dessert items unavailable</div>
      </div>
    </div>
  </div>

  <div class="absolute left-0 bottom-0 w-full p-2" *ngIf="showBasket">
    <ion-button class="w-full" (click)="openCart()">View Basket</ion-button>
  </div>

</ion-content>
