// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #25A749;
  --ion-color-primary-rgb: 37,167,73;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #1d893c;
  --ion-color-primary-tint: #2abf55;

  --ion-color-secondary: #25A749;
  --ion-color-secondary-rgb: 37,167,73;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #1d893c;
  --ion-color-secondary-tint: #2abf55;

  --ion-color-tertiary: #25A749;
  --ion-color-tertiary-rgb: 37,167,73;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #1d893c;
  --ion-color-tertiary-tint: #2abf55;

  --ion-color-success: #2dd55b;
  --ion-color-success-rgb: 45,213,91;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #28bb50;
  --ion-color-success-tint: #42d96b;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255,196,9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #c5000f;
  --ion-color-danger-rgb: 197,0,15;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #ad000d;
  --ion-color-danger-tint: #cb1a27;

  --ion-color-light: #f6f8fc;
  --ion-color-light-rgb: 246,248,252;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d8dade;
  --ion-color-light-tint: #f7f9fc;

  --ion-color-medium: #5f5f5f;
  --ion-color-medium-rgb: 95,95,95;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #545454;
  --ion-color-medium-tint: #6f6f6f;

  --ion-color-dark: #2f2f2f;
  --ion-color-dark-rgb: 47,47,47;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #292929;
  --ion-color-dark-tint: #444444;
}

/*
   * iOS Light Theme
   * -------------------------------------------
   */

.ios body {
  --ion-background-color: #f4fcef;
  --ion-background-color-rgb: 245,245,240;

  --ion-text-color: #111109;
  --ion-text-color-rgb: 17,17,9;

  --ion-color-step-50: #eaeae4;
  --ion-color-step-100: #deded9;
  --ion-color-step-150: #d3d3cd;
  --ion-color-step-200: #c7c7c2;
  --ion-color-step-250: #bcbcb6;
  --ion-color-step-300: #b1b1ab;
  --ion-color-step-350: #a5a59f;
  --ion-color-step-400: #9a9a94;
  --ion-color-step-450: #8e8e88;
  --ion-color-step-500: #83837d;
  --ion-color-step-550: #787871;
  --ion-color-step-600: #6c6c65;
  --ion-color-step-650: #61615a;
  --ion-color-step-700: #55554e;
  --ion-color-step-750: #4a4a43;
  --ion-color-step-800: #3f3f37;
  --ion-color-step-850: #33332c;
  --ion-color-step-900: #282820;
  --ion-color-step-950: #1c1c15;

  --ion-item-background: #D5D5C2;

  --ion-card-background: #dde5d9;
}

.ios ion-modal {
  --ion-background-color: var(--ion-color-step-100);
  --ion-toolbar-background: var(--ion-color-step-150);
  --ion-toolbar-border-color: var(--ion-color-step-250);
}

/*
   * Material Design Light Theme
   * -------------------------------------------
*/

.md body {
  --ion-background-color: #f4fcef;
  --ion-background-color-rgb: 255,255,255;

  --ion-text-color: #111109;
  --ion-text-color-rgb: 17,17,9;

  --ion-color-step-50: #eaeae4;
  --ion-color-step-100: #deded9;
  --ion-color-step-150: #d3d3cd;
  --ion-color-step-200: #c7c7c2;
  --ion-color-step-250: #bcbcb6;
  --ion-color-step-300: #b1b1ab;
  --ion-color-step-350: #a5a59f;
  --ion-color-step-400: #9a9a94;
  --ion-color-step-450: #8e8e88;
  --ion-color-step-500: #83837d;
  --ion-color-step-550: #787871;
  --ion-color-step-600: #6c6c65;
  --ion-color-step-650: #61615a;
  --ion-color-step-700: #55554e;
  --ion-color-step-750: #4a4a43;
  --ion-color-step-800: #3f3f37;
  --ion-color-step-850: #33332c;
  --ion-color-step-900: #282820;
  --ion-color-step-950: #1c1c15;

  --ion-item-background: #F5F5F0;

  --ion-toolbar-background: #F5F5F0;

  --ion-tab-bar-background: #e9f0e4;

  --ion-card-background: #dde5d9;

  --ion-searchbar-background: #dde5d9;
}
  /*
   * Dark Colors
   * -------------------------------------------
   */

.ion-palette-dark body {
  --ion-color-primary: #25A749;
  --ion-color-primary-rgb: 37,167,73;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #1d893c;
  --ion-color-primary-tint: #2abf55;

  --ion-color-secondary: #25A749;
  --ion-color-secondary-rgb: 37,167,73;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #1d893c;
  --ion-color-secondary-tint: #2abf55;

  --ion-color-tertiary: #25A749;
  --ion-color-tertiary-rgb: 37,167,73;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #1d893c;
  --ion-color-tertiary-tint: #2abf55;

  --ion-color-success: #2dd55b;
  --ion-color-success-rgb: 45,213,91;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #28bb50;
  --ion-color-success-tint: #42d96b;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255,196,9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #c5000f;
  --ion-color-danger-rgb: 197,0,15;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #ad000d;
  --ion-color-danger-tint: #cb1a27;

  --ion-color-light: #f6f8fc;
  --ion-color-light-rgb: 246,248,252;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d8dade;
  --ion-color-light-tint: #f7f9fc;

  --ion-color-medium: #5f5f5f;
  --ion-color-medium-rgb: 95,95,95;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #545454;
  --ion-color-medium-tint: #6f6f6f;

  --ion-color-dark: #2f2f2f;
  --ion-color-dark-rgb: 47,47,47;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #292929;
  --ion-color-dark-tint: #444444;
}

/*
 * iOS Dark Theme
 * -------------------------------------------
 */

.ion-palette-dark.ios body {
  --ion-background-color: #0e150e;
  --ion-background-color-rgb: 15,15,10;

  --ion-text-color: #F6F6EE;
  --ion-text-color-rgb: 246,246,238;

  --ion-color-step-50: #1b1b15;
  --ion-color-step-100: #262621;
  --ion-color-step-150: #32322c;
  --ion-color-step-200: #3d3d38;
  --ion-color-step-250: #494943;
  --ion-color-step-300: #54544e;
  --ion-color-step-350: #60605a;
  --ion-color-step-400: #6b6b65;
  --ion-color-step-450: #777771;
  --ion-color-step-500: #83837c;
  --ion-color-step-550: #8e8e87;
  --ion-color-step-600: #9a9a93;
  --ion-color-step-650: #a5a59e;
  --ion-color-step-700: #b1b1aa;
  --ion-color-step-750: #bcbcb5;
  --ion-color-step-800: #c8c8c0;
  --ion-color-step-850: #d3d3cc;
  --ion-color-step-900: #dfdfd7;
  --ion-color-step-950: #eaeae3;

  --ion-item-background: #1e1e14;

  --ion-card-background: #1e1e14;
}

.ion-palette-dark.ios ion-modal {
  --ion-background-color: var(--ion-color-step-100);
  --ion-toolbar-background: var(--ion-color-step-150);
  --ion-toolbar-border-color: var(--ion-color-step-250);
}


/*
 * Material Design Dark Theme
 * -------------------------------------------
 */

.ion-palette-dark.md body {
  --ion-background-color: #0e150e;
  --ion-background-color-rgb: 11,11,8;

  --ion-text-color: #F6F6EE;
  --ion-text-color-rgb: 246,246,238;

  --ion-color-step-50: #1b1b15;
  --ion-color-step-100: #262621;
  --ion-color-step-150: #32322c;
  --ion-color-step-200: #3d3d38;
  --ion-color-step-250: #494943;
  --ion-color-step-300: #54544e;
  --ion-color-step-350: #60605a;
  --ion-color-step-400: #6b6b65;
  --ion-color-step-450: #777771;
  --ion-color-step-500: #83837c;
  --ion-color-step-550: #8e8e87;
  --ion-color-step-600: #9a9a93;
  --ion-color-step-650: #a5a59e;
  --ion-color-step-700: #b1b1aa;
  --ion-color-step-750: #bcbcb5;
  --ion-color-step-800: #c8c8c0;
  --ion-color-step-850: #d3d3cc;
  --ion-color-step-900: #dfdfd7;
  --ion-color-step-950: #eaeae3;

  --ion-item-background: #191910;

  --ion-toolbar-background: #191910;

  --ion-tab-bar-background: #191910;

  --ion-card-background: #191910;

  --ion-searchbar-background: #30372f;
}

html {
  /*
   * For more information on dynamic font scaling, visit the documentation:
   * https://ionicframework.com/docs/layout/dynamic-font-scaling
   */
  --ion-dynamic-font: var(--ion-default-dynamic-font);
}
