<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-row>
      <ion-col size="3">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      </ion-col>
      <ion-col size="9">
        <ion-card-header>
          <ion-card-title>Francesinha</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Prato tradicional do Porto</p>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-row>
      <ion-col size="3">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      </ion-col>
      <ion-col size="9">
        <ion-card-header>
          <ion-card-title>Arroz de Pato</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Arroz e pato</p>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card>
    <ion-row>
      <ion-col size="3">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      </ion-col>
      <ion-col size="9">
        <ion-card-header>
          <ion-card-title>Prego no Prato</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Bife, batata-frita e arroz</p>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
