<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Address Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="flex relative h-60 justify-center">
    <app-map class="z-10" [selectLocationMode]="true" [showControls]="false" />
    <ion-button class="absolute z-50  bottom-2">Edit location</ion-button>
  </div>

  <form (ngSubmit)="saveAddress()" [formGroup]="fields">
    <div class="flex flex-col p-6 gap-4">
      <div class="flex flex-col gap-1">
        <div class="text-xl">Door number <span class="text-xs">(Required)</span> </div>
        <ion-input type="text" formControlName="door" [value]="address?.door"></ion-input>
        <ion-note
          *ngIf="(door.dirty || door.touched) && door.errors"
          slot="error"
        >
          Please insert email correctly
        </ion-note>
      </div>
      <div class="flex flex-col gap-1">
        <div class="text-xl">More information</div>
        <ion-input type="text" formControlName="info" [value]="address?.info"></ion-input>
      </div>
    </div>

    <div class="p-2 w-full fixed bottom-0 flex">
      <ion-button
        type="submit"
        class="w-full"
        [disabled]="fields.invalid">Save Address</ion-button>
    </div>
  </form>
</ion-content>
