<ion-content [fullscreen]="true">
  <div class="w-full h-screen flex flex-col p-8">
    <ion-img src="/assets/icon/vegetal.svg" />

    <div class="flex flex-col gap-8">
      <div class="flex flex-col gap-2 items-center">
        <div class="w-full">
          <ion-label>Email</ion-label>
          <ion-input type="email"></ion-input>
        </div>
        <div class="w-full">
          <ion-label>Password</ion-label>
          <ion-input type="password"></ion-input>
        </div>

        <ion-button shape="round" class="w-fit">Login</ion-button>
      </div>

      <hr>

      <ion-button routerLink="/register" >Criar Conta</ion-button>
    </div>
  </div>
</ion-content>
